/* Inspired by https://darts-scoring.com */

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

table {
  margin-left:auto;
  margin-right:auto;
}

tr {
  width: 100%;
}

th, td {
  width: 25%;
}

#game_text_container {
  box-sizing: border-box;
}

.half_width {
  min-width: 49%;
  max-width: 49%;
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

.player_score {
  font-size: 3em;
}

#start_form input[type="radio"] {
  display: none;
}

#start_form input[type="checkbox"] {
  display: none;
}

#start_form .game_type {
  text-align: center;
  width: 80%;
}

#start_form .game_option {
  display: inline-block;
  border-radius: 20px;
  width: 100%;
  padding: 5px 10px !important;
  /* border: 1px solid #e0e0e0 !important; */
}

#start_form .game_option input:checked + label {
  background-color: #ec8c69;
  color: white;
  border-radius: 30px;
  border: 0;
}

#start_form .game_option label {
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 8px 8px !important;
  transition: all 0.1s ease-in-out;
  font-weight: bold;
  font-size: 14px !important;
  text-transform: uppercase;
  margin-top: 0.5em;
  /* margin-bottom: 0.5em; */
}

#start_form input {
  margin-bottom: 0.5em;
}

#start_form .game_select_container {
  margin-bottom: 1em;
  /* size: 2em; */
}

.button {
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  background-color: white;
  border: 1px black solid;
}

.highlighted_button {
  background-color: yellow;
}

/* DART BOARD CSS */
.dartboard,.dartboard *{
  cursor:default
}

.dartboard .out{
  fill:#2e343a
}

.dartboard .out:hover {
  fill:#657381
}

.dartboard .number{
  fill:#fff;
  font-family:"Open Sans",sans-serif;
  font-size:24px;
  font-weight:400;
  text-anchor:middle
}

.dartboard .double,.dartboard .double-bull,.dartboard .single,.dartboard .single-bull,.dartboard .triple{
  stroke:#2e343a;
  stroke-width:.5
}

.dartboard .double-bull,.dartboard .double.even,.dartboard .triple.even{
  fill:#d95652
}

.dartboard .double-bull:hover,.dartboard .double.even:hover,.dartboard .triple.even:hover{
  fill:#803330
}

.dartboard .double.odd,.dartboard .single-bull,.dartboard .triple.odd{
  fill:#528b6e
}

.dartboard .double.odd:hover,.dartboard .single-bull:hover,.dartboard .triple.odd:hover{
  fill:#426e57
}

.dartboard .single.even{
  fill:#2e343a
}

.dartboard .single.even:hover {
  fill:#657381
}

.dartboard .single.odd{
  fill:#fde1d0
}

.dartboard .single.odd:hover{
  fill:#a79488
}

.dartboard .odd.heat_map_1, .dartboard .even.heat_map_1  {
  fill-rule: #8FFF00;
}