.tile {
  background-color: white;
  outline: 1px solid black;
  height: 2vw;
  width: 2vw;
  margin: 1px 1px 1px 1px;
}

.left_side {
  max-width: calc(40% - 1em);
}

.game_board {
  margin-left: 1em;
  min-width: 60%;
}

.tile.tile_on {
  background-color: black;
}

.buttons {
  text-align: center;
  width: 100%;
}

.shape_adding {
  margin-top: 3vh;
}

th {
  width: 50%;
  text-align: right;
}

td {
  width:25%;
  text-align: right;
}

td.small {
  width: 10%;
}

td.left_align {
  text-align: left;
}

th.wide {
  width: 80%;
}

select {
  width: 100px;
}

.shape_button.button_active {
  background-color: black;
  color: white;
}
