table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

table {
    table-layout: fixed ;
}

td {
    min-width: 80px;
}

.lambsie_button {
    margin: 0em 0.5em 1em 0.5em;
}

/* input {
    text-align: center;
} */

input[type="number"] {
    max-width: 80px;
}