.letter_game_intro {
  background-color: rgba(255,255,255,0.5);
  border-radius: 0.5rem;
  padding: 1em;
  width: 100%;
}

.letter_board {
  /* float: right; */
  background-color: rgba(255,255,255,0.5);
  border-radius: 0.5rem;
  margin-left: 1rem;
  padding: 1em;
  height: 504px;
  /* width: 112%; */
}

.letter_game_dice {
  margin-top: 1rem;
  float: left;
  background-color: rgba(255,255,255,0.5);
  border-radius: 0.5rem;
  padding: 1em;
}

.dice {
    margin: 1rem;
    padding: 1rem;
    margin-bottom: 0.33rem;
    max-width: 15%;
    min-width: 15%;
    border-radius: 0.5rem;
    cursor:pointer;
}

.unused_dice {
  background-color: #ec8e80;
}

.highlighted_dice {
  background-color: #ed6ea0;
}

.used_dice {
  background-color: #6794B3;
}

.dice_button {
  /* margin: 0 auto; */
  vertical-align: middle;
  margin-left: 1vw;
  margin-top: 0.5rem;
  margin-bottom: 0.55rem;
  text-align:center;
  display: inline-block;
  width: 5vw;
  height: 3vw;
  border-radius: 0.5rem;
  background-color: white;
  border: solid 1px black;

  /* position: absolute; */
}

img {
  min-width: 5%;
  max-width: 5%;
  min-height: 7.5%;
  max-height: 7.5%;
  border: 0;
  margin: .1rem;
  margin-bottom: -.15rem;
  padding: 0;
  cursor:pointer;
}


/*DECIDED TO USE &nbsp INSTEAD OF ALIGNING, MIGHT CHANGE LATER*/
/* .align_left {
  float: left;
}
.align_right {
  float: right;
}
.align_center {
  float: none;
} */
