.letter_game_intro {
  background-color: rgba(255,255,255,0.5);
  border-radius: 0.5rem;
  padding: 1em;
  width: 100%;
}

h2 {
  margin-top: -0.3rem;
}

.letter_board {
  /* float: right; */
  background-color: rgba(255,255,255,0.5);
  border-radius: 0.5rem;
  margin-left: 1rem;
  padding: 1em;
  height: 520px;
  /* width: 112%; */
}

.letter_game_dice {
  margin-top: 1rem;
  float: left;
  background-color: rgba(255,255,255,0.5);
  border-radius: 0.5rem;
  padding: 1em;
}

.dice {
  margin: 1rem;
  padding: 1rem;
  margin-bottom: 0.33rem;
  max-width: 15%;
  min-width: 15%;
  background-color: #ec8e80;
  border-radius: 0.5rem;
  /* text-align: center; this wasn't doing anything so i commented it out */
  cursor:pointer;
}

.highlighted_dice {
  margin: 1rem;
  padding: 1rem;
  margin-bottom: 0.33rem;
  max-width: 15%;
  min-width: 15%;
  border-radius: 0.5rem;
  cursor:pointer;

  background-color: #ed6ea0;
  /* outline: 1px solid black; */
}

.used_dice {
  margin: 1rem;
  padding: 1rem;
  margin-bottom: 0.33rem;
  max-width: 15%;
  min-width: 15%;
  background-color: #6794B3;
  border-radius: 0.5rem;
  cursor:pointer;
}

.dice_button {
  /* margin: 0 auto; */
  vertical-align: middle;
  margin-left: 1vw;
  margin-top: 0.5rem;
  margin-bottom: 0.55rem;
  text-align:center;
  display: inline-block;
  width: 5vw;
  height: 3vw;
  /* position: absolute; */
}

img {
  min-width: 5%;
  max-width: 5%;
  min-height: 7.5%;
  max-height: 7.5%;
  border: 0;
  margin: .1rem;
  margin-bottom: -.2rem;
  padding: 0;
  cursor:pointer;
}
