img {
  min-width: 5%;
  max-width: 5%;
  min-height: 8.5%;
  max-height: 8.5%;
  border: 0;
  margin: .1rem;
  margin-bottom: -.15rem;
  padding: 0;
  cursor:pointer;
}

.letter_game_intro {
  width: calc(100vw - calc(10rem + 59vw));
}

.letter_board {
  /* float: right; */
  margin-left: 1rem;
  height: 33vw;
  min-width: calc(calc(100vw - 15.25vw) - calc(calc(100vw - 10rem) - 59vw));
  max-width: calc(calc(100vw - 15.25vw) - calc(calc(100vw - 10rem) - 59vw));
  /* width: 112%; */
}

.letter_board_options {
  /* float: right; */
  margin-left: 1rem;
  padding: 0.5em;
  height: 3vw;
  min-width: calc(calc(100vw - 15.25vw) - calc(calc(100vw - 10rem) - 59vw));
  max-width: calc(calc(100vw - 15.25vw) - calc(calc(100vw - 10rem) - 59vw));
}

.letter_game_dice {
  float: left;
  min-width: calc(calc(100vw - 10rem) - 59vw);
  max-width: calc(calc(100vw - 10rem) - 59vw);
  box-sizing: border-box;
}

.dice_button_container {
  text-align: center;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.dice_button {
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  margin-left: 2.5%;
  margin-right: 2.5%;
  text-align:center;
  display: inline-block;
  min-width: 10%;
  height: 2vw;
  border-radius: 0.5rem;
  background-color: white;
  border: solid 1px black;
}

.dice {
    margin: 1vw;
    padding: 1vw;
    margin-bottom: 0.33rem;
    max-width: 15%;
    min-width: 15%;

    min-width: calc(calc(calc(calc(100vw - 10rem) - 59vw) / 4) - 3vw);
    max-width: calc(calc(calc(calc(100vw - 10rem) - 59vw) / 4) - 3vw);
    min-height: calc(calc(calc(calc(100vw - 10rem) - 59vw) / 4) - 3vw);
    max-height: calc(calc(calc(calc(100vw - 10rem) - 59vw) / 4) - 3vw);

    border-radius: 0.5rem;
    cursor:pointer;
    text-align:center;
}

.unused_dice {
  background-color: #ec8e80;
}

.highlighted_dice {
  background-color: #ed6ea0;
}

.used_dice {
  background-color: #6794B3;
}

.board_button {
  margin-left: 1vw;
  text-align:center;
  display: inline-block;
  min-width: 2vw;
  height: 2vw;
  border-radius: 0.5rem;
  background-color: white;
  border: solid 1px black;
}

.example_solution {
  min-width: 0%;
  max-width: 100%;
  min-height: 0%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.pop_up {
  box-sizing: border-box;
}

.pop_up_text {
  vertical-align: top;
  width: 49%;
  display: inline-block;
}

.pop_up_image {
  width: 49%;
  display: inline-block;
}

#word_check {
  width: 110px;
}

@media (max-width: 50rem) {
  .dice {
    margin: 1rem;
    padding: 1rem;
    margin-bottom: 0.33rem;
    max-width: 15%;
    min-width: 15%;
    border-radius: 0.5rem;
    cursor:pointer;
  }

}
