* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  /* margin-bottom: -10rem; */
  /* padding: 1rem; */
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

body {
  background-image: url('../img/sunset.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.nav_links {
  margin: 0;
}

.nav_links li {
    display: inline-block;
    margin-top: 4px;
}

img {
  width: 20%;
  height: 20%;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 90%;
  z-index: 0;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.my_face {
  float: right;
  border-radius: 0.5rem;
}

.title_text {
  height: 30%;
  width: 100%;
  background-color: rgba(255,255,255,0.5);
  border-radius: 0.5rem;
  padding: 1em;
}

.title_text_with_face_image {
  width: 78%;
  height: 30%;
  background-color: rgba(255,255,255,0.5);
  border-radius: 0.5rem;
  padding: 1em;
}

.fa.social {
  background-color: Transparent;
  padding: 16px;
  width: 16px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color: white;
}

.fa:hover {
  opacity: 0.7;
}

.text {
  background-color: rgba(255,255,255,0.5);
  border-radius: 0.5rem;
  padding: 1em;
}

.quadris_text {
  float: right;
  width: 68.5%;
}

.free_rice_text {
  float: right;
  width: 46%;
}

.grubsteak_text {
  float: right;
  width: 100%;
}

.iReverse_text {
  float: right;
  width: 53.5%;
}

.assassin_text {
  width: 97%;
  height: 30%;
}

code {
  background-color: rgba(105,105,105,0.5);
  width: 100%;
  padding: 0.5em;
  border-radius: 0.2rem;
}

section div {
  float: left;
  box-sizing: border-box;
}

section {
  display: inline-block;
}

/* If the screen size is 600px wide or less, hide the element */
/* @media only screen and (max-width: 600px) {
  .icons {
    display: none;
  }
} */
