.dark-mode-body {
  background-image: url('../img/sunset_inverted.jpeg');
}

.dark-mode-menu {
  background-image: linear-gradient(to right, #137396 0%, #12915f 100%);
  color: rgba(0, 0, 0, 0.7);
}

.dark-mode-menu a:link{
  color: rgba(0, 0, 0, 0.7);
}

.dark-mode-menu a:link:hover{
  color: rgba(0, 0, 0, 1);
}

.dark-mode-menu a:visited {
  color: rgba(0, 0, 0, 0.7);
}

.dark-mode-menu a:visited:hover {
  color: rgba(0, 0, 0, 1);
}

/* .dark-mode-menu ol li ol {
  background: rgba(255, 255, 255, 0.9); TODO FOR DEBUGGING: Tried but didn't really help so I left it
} */

.dark-mode-menu ol li ol li a {
  /* background: #12915f; */
  /* TODO: need to fix this */
  background-image: linear-gradient(to right, #137396 0%, #12915f 100%);
}

.dark-mode-text {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.dark-mode-text h1 a:link {
  color: white;
}

.dark-mode-text h1 a:visited {
  color: white;
}

.dark-mode-text table {
  border: 1px solid white;
}

.dark-mode-text th {
  border: 1px solid white;
}

.dark-mode-text td {
  border: 1px solid white;
}

.dark-mode-text .calc_display {
  background-color: black;
  border: solid 1px white;
  color: white;
}

.dark-mode-text .calc_button {
  background-color: black;
  border: solid 1px white;
  color: white;
}

.dark-mode-text .balanced_ternary_off {
  background-color: #39ff14;
  color: black;
}

.dark-mode-body .balanced_ternary_board {
  background-color: rgba(255, 255, 255, 0.5);
}

.dark-mode-text a:link {
  color: #39ff14;
}

.dark-mode-text a:visited {
  color: #39ff14;
}

.dark-mode-text .unused_dice {
  background-color: #000000;
  outline: 1px solid #FFFFFF;
}

.dark-mode-text .button {
  background-color: black;
  border: solid 1px white;
  color: white;
}

.dark-mode-text .right_side {
  color: #000000;
  background-color: #FFFFFF;
}

.dark-mode-icon i {
  color: black;
}
