body {
  /* background-color: powderblue; */
  background-image: url('../img/sunset.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* color: red; */
}

.nav_links {
  margin: 0;
}

.nav_links li {
    display: inline-block;
    margin-top: 4px;
}

img {
  width: 10%;
  height: 10%;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 90%;
  z-index: 0;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.my_face {
  float: right;
}

/* .home_button {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  width: 20vw;
  position: relative;
  display: inline-block;
} */

.fa.social {
  /* background-color: #4CAF50; */
  background-color: Transparent;
  padding: 16px;
  width: 16px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  color: white;
}

.fa:hover {
  opacity: 0.7;
}

/* .icons {
  float: right;
} */


iframe .quadris_video{
  height: 500px;
}

section div {
  float: left;
  width: 50%; /* three boxes (use 25% for four, and 50% for two, etc) */
  padding: 50px; /* if you want space between the images */
  box-sizing: border-box;
}

section {
    display: inline-block;
}

section:after {
  /* content: "";
  display: table; */
  clear: both;
}

/* If the screen size is 600px wide or less, hide the element */
/* @media only screen and (max-width: 600px) {
  .icons {
    display: none;
  }
} */
