body {
  background-image: none;
  /* background-color: gray; */
}

.icon {
  color: rgba(255, 0, 0, 0.8);
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-size: 1.3em;
}

.icon:hover {
  color: rgba(0, 255, 0, 1);
  cursor: pointer;
}
