body {
  margin: 0;
}

.flex {
  display: flex;
  justify-content: center;
}

a {
  color: white;
}

a:visited {
  color: white;
}

.christmas-card-text {
  position: absolute;
  display: flex;
  flex-direction: column;

  color: white;
  text-align: center;
  width: 100%;
  z-index: 1;

  .row {
    margin: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .further-reading-section {
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;

    .icon {
      padding: 10px;
    }
  }
}

.max-head-button {
  width: 40px;

  img {
    width: 100%;
  }
}