body {
  margin: 0;
}

a {
  color: white;
}

a:visited {
  color: white;
}

.christmas-card-text {
  position: absolute;
  display: flex;
  flex-direction: column;

  color: white;
  text-align: center;
  width: 100%;
  z-index: 1;

  .row {
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .further-reading-section {
    font-family: 'Courier New', Courier, monospace;
  }
}